*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* base*/
  :root {
  --primary-color: #233d5a;
  --while-color: #fff;
  --black-color: #000;
  --boder-color: #dbdbdb;
  --base-color: #cfdded;
  --button-color:#233d5a;
  --textbt-color:#fff;
  --textbd-color:#000;
  }
  html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  .nav-container li a:hover{
  background-color: rgb(108, 108, 108);
  }
  /*main*/
  #header{
    width: 100%;
    height: 110px;
    background-color: var(--primary-color);
    color: var(--while-color);
    margin-top: 120px;
    
  }
  
  .logo-img{
    width: 110px;
    height: 105px;
    float: left;
    position: absolute;
    left: 6%;
    padding-top: 5px;
  }
  
  .search{
    margin-top: 38px;
    width: 330px;
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 15%;
    font-size: 15px;
  }
  .search-btn
  {
    padding: 5px;
    width: 330px;
    border: 1.5px solid var(--text-color);
    height: 35px;
  }
  .search-icon{
    padding-right: 30px;
    padding: 5px;
    border-radius: 30px;
    border-color: var(--text-color);
    background-color: var(--primary-color);
  }
  
  .fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .user-icon,
  .fa-search{
    cursor: pointer;
  }
  .icon {
    font-size: 22px;
    position: absolute;
    top: 37%;
    right: 7%;
  }
  
  .cart-icon,
  .user-icon {
    display: inline;
    padding: 10px;
    
  }
  .fa-user:before{
    color: var(--while-color);
  }
  .nav-container {
    position: absolute;
    top: 50%; /* Đưa menu lên giữa theo chiều cao */
    transform: translateY(-50%); 
    left: 15%;
  }
  
  .nav {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex; /* Chuyển menu thành dạng ngang */
  }
  
  .nav li {
    display: inline;
    position: relative;
    
  }
  
  .nav li a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.7em;
    color: var(--text-color);
    line-height: 50px;
    display: block;
    width: max-content; 
    width: auto;
    height: auto;
  }
  
  .nav li a:hover {
    opacity: 0.8;
  }
  
  /* Menu con (Submenu) */
  .nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px; 
  }
  
  .nav li:hover ul {
    display: block;
  }
  
  .nav li ul li {
    display: block;
  }
  
  .nav li ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .nav li ul li a:hover {
    background-color: #8BCAC8;
  }
  

  /* footer*/
  footer{
    width: 100%;
    height:420px;
    background-color: var(--primary-color);
    color: var(--while-color);
    margin-top: 100px;
  }
  
  .policy,
  .contact {
  width: 30%;
  }
  
  .policy,
  .contact ,
  .CustomerCare{
    height: auto;
    text-align: center;
    color: var(--text-color);
    text-align: center;
    float: left;
  }
  .CustomerCare{
    width: 40%;
  }
  
  .policy-title,
  .contact-title,
  .CustomerCare-title{
    font-size: 1.8em;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
  }
  .policy-information a,
  .contact-information {
  font-size: 1.7em;
  text-decoration: none;
  color: var(--text-color);
  }
  
  .policy-information a,
  .contact-information p{
    line-height: 40px;
  }
  
  .Community-title{
    font-size: 1.8em;
    margin-top: 25px;
    padding-bottom: 20px;
  }
  .Community-icon{
    color: var(--text-color);
    font-size: 35px;
    padding-right: 30px;
  }
  
  /* Thêm CSS cho biểu tượng menu */
  .menu-icon {
    display: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  h1{
  margin-bottom: 20px;
  }
  
  

.bg-primary-qlk{
  background-color: var(--primary-color);
}
.qlk_button{
    width: 280px;
    height: 100px;
    background-color: #ccc ;
    text-align: center;
  }