*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* base*/
:root {
  --primary-color: #233d5a;
  --while-color: #fff;
  --black-color: #000;
  --boder-color: #dbdbdb;
  --base-color: #cfdded;
  --button-color:#233d5a;
  --textbt-color:#fff;
  --textbd-color:#000;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

section{
    margin-top: 150px;
	margin-bottom: 60px;
}

section h1{
    font-size: 2.2em;
    text-align: center;
}

.row{
    border: 1px solid var(--boder-color);
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    background-color: var(--base-color);
    height: 90px;
    margin-top: 40px;
}

.content{
    float: left;
    font-size: 1.8em;
    padding-top: 30px;
    padding-left: 20px;
    color: var(--textbd-color);
}

.actions{
float: right;
font-size: 1.8em;
padding-top: 30px;
padding-right: 20px;
}

.back {
    float: right;
    margin-top: 30px;
    margin-right: 8%;
    margin-bottom: 40px;
}

.back button {
    background-color: var(--button-color);
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    color: var(--while-color);
    font-size: 1.6em;
    margin-bottom: 40px;
}
